.timer {
    width: 360px;
    height: 360px;
    background-color: #151932;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;

    &:hover {
        box-shadow: rgb(227 218 218 / 25%) 0px 14px 28px, rgb(30 30 30 / 22%) 0px 10px 10px;
    }

    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 360px;

        .inner {
            border-radius: 50%;
            background-color: #151932;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 999;

            .remaining-time {
                font-size: 5.5rem;
                font-weight: 700;
                color: #D7E0FF;
            }

            .start,
            .pause {
                font-size: 2.5rem;
                font-weight: 300;
                letter-spacing: .9rem;
                color: #D7E0FF;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }

    svg.circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 360px;
        height: 360px;

        circle {
            width: 330px;
            height: 330px;
            fill: none;
            stroke: var(--primary-color);
            stroke-width: 10px;
            stroke-dasharray: 1036.2;
            transform: rotate(-90deg);
            transform-origin: center;
        }
    }
}

@keyframes circleAnimation {
    0% {
        stroke-dashoffset: 1036.2;
    }

    100% {
        stroke-dashoffset: 0;
    }
}